<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form>
      Search:<br>
      <input type="text" name="search" value=""><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
